*.swp
po/*.mo
po/*.po~
lxd-*.tar.gz
.vagrant
test/deps/devlxd-client
test/macaroon-identity/macaroon-identity
*~
tags

# Sphinx
doc/html/
.sphinx/deps/
.sphinx/themes/
.sphinx/venv/
.sphinx/warnings.txt

# For Atom ctags
.tags
.tags1
