*.swp
po/*.mo
po/*.po~
lxd-*.tar.gz
.vagrant
*~
tags

# Potential binaries
fuidshift/fuidshift
lxc/lxc
lxc-to-lxd/lxc-to-lxd
lxd-agent/lxd-agent
lxd-benchmark/lxd-benchmark
lxd-p2c/lxd-p2c
test/deps/devlxd-client
test/macaroon-identity/macaroon-identity

# Sphinx
doc/html/
.sphinx/deps/
.sphinx/themes/
.sphinx/venv/
.sphinx/warnings.txt
.sphinx/_static/swagger-ui

# For Atom ctags
.tags
.tags1
