language: go

# TODO: support building/testing with both golang and gccgo?
go:
  - 1.4

before_install:
  - sudo apt-add-repository -y ppa:ubuntu-lxc/buildd-backports
  - sudo apt-add-repository -y ppa:ubuntu-lxc/lxc-stable
  - sudo apt-get update
  - sudo apt-get install -y libssl1.0.0 libssl-dev libssl-doc curl libcurl3 libcurl3-gnutls libcurl4-openssl-dev gettext
  - sudo apt-get install -y acl lxc lxc-dev sqlite3 jq busybox-static protobuf-compiler

install:
  - go get -v code.google.com/p/goprotobuf/...
  - go get golang.org/x/tools/cmd/vet
  - mkdir -p $GOPATH/github.com/lxc
  - go get -v -d ./...
  - rsync -az ${TRAVIS_BUILD_DIR}/ $HOME/gopath/src/github.com/lxc/lxd/
  - echo "root:100000:65536" | sudo tee /etc/subuid
  - echo "root:100000:65536" | sudo tee /etc/subgid
  - sudo stop cgmanager
  - sudo -E env PATH=$PATH env

script: "sudo -E env PATH=$PATH make check"
notifications:
  webhooks: https://linuxcontainers.org/webhook-lxcbot/
