language: go

# TODO: support building/testing with both golang and gccgo?
go:
  - 1.4

before_install:
  - sudo apt-add-repository -y ppa:ubuntu-lxc/daily
  - sudo apt-get update -qq

install:
  - sudo apt-get install lxc lxc-dev sqlite3 jq
  - go get golang.org/x/tools/cmd/vet
  - mkdir -p $GOPATH/github.com/lxc
  - go get -v -d ./...
  - rsync -az ${TRAVIS_BUILD_DIR}/ $HOME/gopath/src/github.com/lxc/lxd/

script: "make check"
notifications:
  webhooks: https://linuxcontainers.org/webhook-lxcbot/
