canonical-sphinx-extensions

myst-parser
sphinx-autobuild
sphinx-design
sphinx-notfound-page
sphinx-reredirects
sphinx-tabs
sphinxcontrib-jquery
sphinxext-opengraph
furo
gitpython
linkify-it-py
pyspelling
pyyaml
sphinx
sphinx-copybutton
sphinx-remove-toctrees
watchfiles
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-sitemap
