# From starter pack requirements.txt 

## Canonical theme (needed for Furo theme and custom templates)
canonical-sphinx==0.5.1

## External extensions
myst-parser==4.0.1 # v5.0.0 causes version conflicts
sphinx-autobuild==2025.08.25
sphinx-design==0.7.0
sphinx-notfound-page==1.1.0
sphinx-reredirects==1.1.0
sphinx-tabs==3.4.7
sphinxcontrib-jquery==4.1
sphinxext-opengraph==0.13.0

## Extra extensions
sphinx-config-options==0.1.0
sphinx-related-links==0.1.2
sphinx-roles==0.1.0
sphinx-terminal==1.0.3
sphinx-youtube-links==0.1.0

## Other dependencies
packaging==26.0
sphinxcontrib-svg2pdfconverter[CairoSVG]==2.0.0
sphinx-last-updated-by-git==0.3.8
sphinx-sitemap==2.9.0

## Vale dependencies 
vale==3.13.0

# LXD custom dependencies
gitpython==3.1.46
linkify-it-py==2.0.3
pyyaml==6.0.3
sphinx-copybutton==0.5.2
sphinx-remove-toctrees==1.0.0.post1
watchfiles==1.1.1
