/** Fix the font weight (300 for normal, 400 for slightly bold) **/

div.page, h1, h2, h3, h4, h5, h6, .sidebar-tree .current-page>.reference, button, input, optgroup, select, textarea, th.head {
    font-weight: 300
}

.toc-tree li.scroll-current>.reference, dl.glossary dt, dl.simple dt, dl:not([class]) dt {
    font-weight: 400;
}

/** Table styling **/

th.head {
    text-transform: uppercase;
    font-size: var(--font-size--small);
}

table.docutils {
    border: 0;
    box-shadow: none;
    width:100%;
}

table.docutils td, table.docutils th, table.docutils td:last-child, table.docutils th:last-child, table.docutils td:first-child, table.docutils th:first-child {
    border-right: none;
    border-left: none;
}

/** No rounded corners **/

.admonition, code.literal, .sphinx-tabs-tab, .sphinx-tabs-panel, .highlight {
    border-radius: 0;
}

/** Admonition styling **/

.admonition {
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

/** Color for the "copy link" symbol next to headings **/

a.headerlink {
    color: var(--color-brand-primary);
}

/** Line to the left of the current navigation entry **/

.sidebar-tree li.current-page {
    border-left: 2px solid var(--color-brand-primary);
}

/** Some tweaks for issue #16 **/

[role="tablist"] {
    border-bottom: 1px solid var(--color-sidebar-item-background--hover);
}

.sphinx-tabs-tab[aria-selected="true"] {
    border: 0;
    border-bottom: 2px solid var(--color-brand-primary);
    background-color: var(--color-sidebar-item-background--current);
    font-weight:300;
}

.sphinx-tabs-tab{
    color: var(--color-brand-primary);
    font-weight:300;
}

.sphinx-tabs-panel {
    border: 0;
    border-bottom: 1px solid var(--color-sidebar-item-background--hover);
    background: var(--color-background-primary);
}

button.sphinx-tabs-tab:hover {
    background-color: var(--color-sidebar-item-background--hover);
}

/** Custom classes to fix scrolling in tables by decreasing the
    font size or breaking certain columns.
    Specify the classes in the Markdown file with, for example:
    ```{rst-class} break-col-4 min-width-4-8
    ```
**/

table.dec-font-size {
    font-size: smaller;
}
table.break-col-1 td.text-left:first-child {
    word-break: break-word;
}
table.break-col-4 td.text-left:nth-child(4) {
    word-break: break-word;
}
table.min-width-1-15 td.text-left:first-child {
    min-width: 15em;
}
table.min-width-4-8 td.text-left:nth-child(4) {
    min-width: 8em;
}

/** Underline for abbreviations **/

abbr[title] {
    text-decoration: underline solid #cdcdcd;
}

/** Use the same style for right-details as for left-details **/
.bottom-of-page .right-details {
    font-size: var(--font-size--small);
    display: block;
}

/** Links to YouTube videos **/

p.youtube_link {
    float: right;
    border: 1px #cdcdcd solid;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

p.youtube_link a {
    text-align: center;
}

p.youtube_link span.play_icon {
    color: #E95420;
    font-size: 2em;
}

p.youtube_link span.play_icon::after {
    content: "\a"
}

p.youtube_link span {
    display: block;
    font-size: small;
    max-width: 70px;
}

/** Related links **/

.relatedlinks-title {
    color: var(--color-toc-title-text);
    font-size: var(--toc-title-font-size);
    padding-left: var(--toc-spacing-horizontal);
    text-transform: uppercase;
}

.relatedlinks {
    font-size: var(--font-size--small--2);
    padding-left: calc(var(--toc-spacing-horizontal) - var(--toc-item-spacing-horizontal));
    padding-bottom: 1em;
}

.relatedlinks ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: var(--toc-item-spacing-horizontal);
}

.relatedlinks li {
    padding-top: var(--toc-item-spacing-vertical);
}

.relatedlinks a {
    overflow-wrap: anywhere;
    text-decoration: none;
}

.relatedlinks a::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23607D8B' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M0 0h24v24H0z' stroke='none'/%3E%3Cpath d='M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5M10 14 20 4M15 4h5v5'/%3E%3C/svg%3E");
    margin-right: 0.25rem;
}

.relatedlinks-title-container {
    padding-top: 2em;
}
