name: Vulnerability Scanning with Trivy
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Test Trivy daily at midnight

permissions:
  contents: read
  security-events: write # for uploading SARIF results to the security tab

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  trivy-repo:
    name: Trivy - Repository
    runs-on: ubuntu-24.04
    if: ${{ ( github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' ) && github.ref_name == 'main' && github.repository == 'canonical/lxd' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main
          persist-credentials: false

      - name: Install Trivy
        uses: ./.github/actions/install-trivy

      - name: Download Trivy DB
        id: db_download
        run: trivy fs --download-db-only --cache-dir /home/runner/vuln-cache
        continue-on-error: true

      - name: Use previously downloaded database
        if: ${{ steps.db_download.outcome == 'failure' }}
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /home/runner/vuln-cache
          key: download-failed # Use a non existing key to fallback to restore-keys
          restore-keys: |
            trivy-cache-

      - name: Run Trivy vulnerability scanner
        run: |
          trivy fs --skip-db-update \
          --scanners vuln,secret,misconfig \
          --format sarif \
          --cache-dir /home/runner/vuln-cache \
          --severity LOW,MEDIUM,HIGH,CRITICAL \
          --output trivy-lxd-repo-scan-results.sarif .

      - name: Cache Trivy vulnerability database
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /home/runner/vuln-cache
          key: trivy-cache-${{ github.run_id }}

      - name: Tag KEV alerts
        run: |
            cd /home/runner
            curl -s --compressed -o kev.json https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
            kev_ids="$(jq -r '.vulnerabilities[].cveID' kev.json)"
            jq --arg ids "$kev_ids" '($ids | split("\n")) as $id_list | .runs[].tool.driver.rules[] |= (
              if (.id as $id | $id_list | index($id)) then
                .shortDescription.text |= . + " (KEV)"
              else
                .
              end
            )' "$GITHUB_WORKSPACE/trivy-lxd-repo-scan-results.sarif" > trivy-modified.sarif
            mv trivy-modified.sarif "$GITHUB_WORKSPACE/trivy-lxd-repo-scan-results.sarif"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
        with:
          sarif_file: "trivy-lxd-repo-scan-results.sarif"
          sha: ${{ github.sha }}
          ref: refs/heads/main

  trivy-snap:
    name: Trivy - Snap
    runs-on: ubuntu-24.04
    needs: trivy-repo
    if: ${{ ( github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' ) && github.ref_name == 'main' && github.repository == 'canonical/lxd' }}
    strategy:
      matrix:
        version:
          - "latest"
          - "5.21"
          - "5.0"
          - "4.0"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Trivy
        uses: ./.github/actions/install-trivy

      - name: Restore cached Trivy vulnerability database
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /home/runner/vuln-cache
          key: download-failed # Use a non existing key to fallback to restore-keys
          restore-keys: |
            trivy-cache-

      - name: Download snap for scan
        run: |
          snap download lxd --channel=${{ matrix.version }}/stable --cohort="+"
          unsquashfs ./lxd*.snap

      - name: Run Trivy vulnerability scanner
        run: |
          trivy rootfs --skip-db-update \
          --scanners vuln,secret,misconfig \
          --format sarif \
          --cache-dir /home/runner/vuln-cache \
          --severity LOW,MEDIUM,HIGH,CRITICAL \
          --output /home/runner/${{ matrix.version }}-stable.sarif squashfs-root

      - name: Flag snap scanning alerts and tag KEV alerts
        run: |
          cd /home/runner
          # Download KEV catalog
          curl -s --compressed -o kev.json https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
          kev_ids="$(jq -r '.vulnerabilities[].cveID' kev.json)"
          # Modify the SARIF file to both add "Snap scan - " prefix and tag KEV alerts
          jq --arg ids "$kev_ids" '
            ($ids | split("\n")) as $id_list |
            .runs[].tool.driver.rules[] |= (
              # First add the Snap scan prefix to all entries
              .shortDescription.text = "Snap scan - " + .shortDescription.text |
              # Then add KEV tag if applicable
              if (.id as $id | $id_list | index($id)) then
                .shortDescription.text |= . + " (KEV)"
              else
                .
              end
            )' ${{ matrix.version }}-stable.sarif > ${{ matrix.version }}-modified.sarif
          mv ${{ matrix.version }}-modified.sarif ${{ matrix.version }}-stable.sarif

      # Now we checkout to the branch related to the scanned snap to populate github.sha appropriately.
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ (matrix.version == 'latest' && 'main') || format('stable-{0}', matrix.version) }}
          persist-credentials: false

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
        with:
          sarif_file: /home/runner/${{ matrix.version }}-stable.sarif
          sha: ${{ github.sha }}
          ref: refs/heads/${{ (matrix.version == 'latest' && 'main') || format('stable-{0}', matrix.version) }}
