name: Tests
on:
  - push
  - pull_request

jobs:
  client:
    name: Unit tests (client)
    strategy:
      fail-fast: false
      matrix:
        go:
          - 1.18.x
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test client package
        env:
          CGO_ENABLED: 0
        run: go test -v ./client/...

      - name: Test lxc package
        env:
          CGO_ENABLED: 0
        run: go test -v ./lxc/...

      - name: Test shared package
        env:
          CGO_ENABLED: 0
        run: go test -v ./shared/...

      - name: Create build directory
        run: |
          mkdir bin

      - name: Build static lxc
        env:
          CGO_ENABLED: 0
        run: |
          go build -o bin ./lxc

      - name: Build static lxd-migrate
        if: runner.os == 'Linux'
        env:
          CGO_ENABLED: 0
        run: |
          go build -o bin ./lxd-migrate

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: matrix.go == '1.18.x'
        continue-on-error: true
        with:
          name: ${{ runner.os }}
          path: bin/

  woke:
    name: Inclusive naming (documentation)
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: woke
        uses: get-woke/woke-action@v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true
          woke-args: "doc/*.md doc/**/*.md -c https://github.com/canonical-web-and-design/Inclusive-naming/raw/main/config.yml"
